{% extends 'loc/loc_base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block page %}
{{ title }}
{% endblock page %}

{% block content %}

   <p>
   インボイスNo. {{ invn }}  のリストです。
    	<a class="btn btn-default" href="{% url 'adds_new' %}">新規追加</a>
    	<a class="btn btn-default" href="{% url 'input_list' %}">整理リストD/L </a>
    	<a class="btn btn-default" href="{% url 'upload_inv' %}">インボイス 追加 </a>

   </p>

	<table border=1>
		<tr>
		<th> コード </th>
		<th> 数量 </th>
		<th> INV. NO. </th>
		<th> 編集 </th>
		<th> 削除 </th>
		</tr>

	<div class="loc">
	{% for ac in addcovers %}

	<td class="code">
	<h3>{{ ac.hcode }}</h3>
	</td>
	<td class="qty">
        {{ ac.qty | floatformat:0 }}
	</td>
	<td class="code">
	<h3>{{ ac.invn }}</h3>
	</td>
	<td class="loc">
    	<a class="btn btn-default" href="{% url 'adds_update' pk=ac.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
	</td>
	<td class="loc">
        <a class="btn btn-default" href="{% url 'adds_del' pk=ac.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
	</td>
	</tr>
	{% endfor %}
	</div>

	</table>


{% endblock %}

