{% extends 'loc/loc_base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block page %}
{{ title }}
{% endblock page %}

{% block content %}

   <p>
   インボイスNo. {{ invn }}  のリストです。
   </p>


	<table border=1>
		<tr>
		<th> コード </th>
		<th> 数量 </th>
		<th> 編集 </th>
		</tr>

	<div class="loc">
	{% for ac in addcovers %}

	<td class="code">
	<h3>{{ ac.hcode }}</h3>
	</td>
	<td class="qty">
        {{ ac.qty | floatformat:0 }}
	</td>
	<td class="qty">
    	<a class="btn btn-default" href="{% url 'adds_update' pk=ac.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
	</td>
	</tr>
	{% endfor %}
	</div>

	</table>


{% endblock %}

