{% extends 'loc/loc_base.html' %}


{% block content %}

    <form action="" method="get">
        <input name="banchquery" value="{{ request.GET.query }}" type="text">
        <button type="submit">番地検索する</button>
    </form>
    <form action="" method="get">
        <button type="submit" name="bqclear" value="clear">クリアする</button>
    </form>
	　
    <form action="" method="get">
        <input name="codequery" value="{{ request.GET.query }}" type="text">
        <input name="code2query" value="{{ request.GET.query }}" type="text">
        <button type="submit">コード検索する</button>
    </form>


	<table border=1>
		<tr>
		<th> 番地 </th>
		<th> コード </th>
		<th> 数量 </th>
		</tr>

	<div class="loc">
	{% for loc in locs %}
	<tr>
        <td class="banch">
        <a href="{% url 'loc_detail' pk=loc.pk %}">{{ loc.banch }}</a> 
        </td>
        
	<td class="code">
	<h3>{{ loc.code }}</h3>
	</td>
	<td class="qty">
        {{ loc.qty }}
	</td>
	</tr>
	{% endfor %}
	</div>

	</table>


{% endblock %}

