{% load static %}
<html>
    <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> 
    <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/loc.css' %}">
        <title>TFCカバー番地リスト</title>
    </head>
    <body>

 <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 1rem;">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" href="/">カバー番地リスト</a></li>
      <li class="nav-item"><a class="nav-link" href="/loc/shiji_list">製造指示ファイルリスト</a></li>
      <li class="nav-item"><a class="nav-link" href="/loc/seisan_list">生産リスト</a></li>
      <li class="nav-item"><a class="nav-link" href="/loc/pick_list">ピック指示リスト</a></li>
      <li class="nav-item"><a class="nav-link" href="/upload">製造指示ファイルアップロード</a></li>

      </ul>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

	    
<div class="page-header">
	    <a href="{% url 'loc_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
	    	 
		    <H1><a href="/">TFCカバー番地リスト</a></H1>
	    </div>
	    <div class="content container">
	    <div class="row">
            {% block content %}
            {% endblock %}

	

			</div>	
	    </div>
	    </div>
	    
    </body>
</html>
