{% extends 'loc/loc_base.html' %}

{% block title %}
ピック指示リスト
{% endblock title %}

{% block page %}
ピック指示リスト
{% endblock page %}

{% block content %}

<p> 現在の更新日は、{{ status.koshinbi }} です。 </p>
<p> 参照している製造指示書は、{{ status.shijibi }} です。 </p>
<a href="/loc/seisan_list">生産リス>ト</a>

	<!-- <form method="POST" aciton="">
	<p> ソート順を選択してください。</p>
            {% for field in cform %}
            {{ field }}
            {% endfor %}
            {% csrf_token %}
        <button type="submit">並べ替える</button>
        </form>
	-->

	<form method="POST" aciton="">
	<p> 生産日を選択してください。。</p>
	{{ pform }}
        {% csrf_token %}
        <button type="submit">絞り込む</button>
        </form>
    <a class="btn btn-default" href="{% url 'down_pick' pick.pk  %} " download = 'shiji.csv'>指示書ダウンロード</a>

    <form action="" method="get">
        <input name="banchquery" value="{{ bq_word }}" type="text">
        <button type="submit">番地検索する</button>
    </form>
    <form action="" method="get">
        <button type="submit" name="bqclear" value="clear">クリアする</button>
    </form>

    <form action="" method="get">
        <input name="codequery" value="{{ request.GET.query }}" type="text">
        <input name="code2query" value="{{ request.GET.query }}" type="text">
        <button type="submit">コード検索する</button>
    </form>

<a class="btn btn-default" href="{% url 'koshin' pick_id=pick.id %}">{{ pick.seisan }}の生産を更新します</a>
<a class="btn btn-default" href="{% url 'rollback' kaku_id=kaku.id %}">{{ kaku.seisan }}の更新を戻します</a>
<a class="btn btn-default" href="{% url 'cover_zaiko' %}">在庫表出力</a>


    <table border=1>
	<tr>
	<th>  </th>
	<th> 番地 </th>
	<th> コード </th>
	<th> ピック数量 </th>
	<th> 在庫数量 </th>
	<th> 生産日 </th>
	<th> 受注ナンバー </th>
	</tr>
     {% for item in picks %}
    <tr>
        <td>
        </td>
        <td>{{ item.banch }}</td>
        <td>{{ item.code }}</td>
        <td>{{ item.qty }}</td>
        <td>{{ item.loc_qty }}</td>
        <td>{{ item.seisan }}</td>
        <td>{{ item.om }}</td>
    <tr>
    {% endfor %}
	</table>

    <a class="btn btn-default" href="{% url 'upload'  %}">アップロード</a>

{% endblock %}

