{% extends 'loc/loc_base.html' %}


{% block content %}

    <table border=1>
	<tr>
	<th>  </th>
	<th> ファイル名 </th>
	<th> 生産指示 </th>
	<th> アップロード日 </th>
	</tr>
     {% for item in shijis %}
    <tr>
        <td>
        <a class="btn btn-default" href="{% url 'shiji_del' shiji_id=item.id %}"><span class="glyphicon glyphicon-remove"></span></a>
        </td>
        <td>{{ item.shiji_date }}</td>
        <td>{{ item.file_name }}</td>
        <td>{{ item.uploaded_at }}</td>
    <tr>
    {% endfor %}
	</table>

    <a class="btn btn-default" href="{% url 'upload'  %}">アップロード</a>

{% endblock %}

