.page-header {
	background-color: #C25100;
	margin-top: 10px;
	padding: 10px 20px 20px 20px;
	
}



h1, h2, h3, h4 {
    font-family: 'Kosugi', cursive;

}

th {
padding-bottom: 5px;
padding-top: 5px;
text-align: center;
background-color: skyblue;

}

.banch{
padding-left: 5px;
padding-right: 5px;
}
.code {
    color: #828282;
    font-family: 'Kosugi', cursive;
    padding: 0px 15px;
}

.qty {
	text-align: right;
	padding: 0px 15px;
}


.loc {
    margin-bottom: 10px;
}

.loc h2 a, .loc h2 a:visited {
    color: #000000;
}
