
{% extends 'po/po_base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block page %}
{{ title }}
{% endblock page %}

{% block content %}

<script language="JavaScript" type="text/javascript">
function allcheck( tf ) {
   var ElementsCount = document.cart.elements.length; // チェックボックスの数
   for( i=0 ; i<ElementsCount ; i++ ) {
      document.cart.elements[i].checked = tf; // ON・OFFを切り替え
   }
}
 </script>

    <form action="" method="get">
            品番: <input name="qh" value="{{ request.GET.qh }}" type="text">
            OM: <input name="qj" value="{{ request.GET.qj }}" type="text">
            フラグ: <input name="qf" value="{{ request.GET.qf }}" type="text">
            オービックコード: <input name="qo" value="{{ request.GET.qo }}" type="text">
        <button type="submit">検索する</button>
    </form>

    <a class="btn btn-default" href="{% url 'juchu_upload'  %}">受注アップロード</a>
    <a class="btn btn-default" href="{% url 'kento_upload'  %}">検討表アップロード</a>
    <a class="btn btn-default" href="{% url 'cart_delete_all'  %}">カート全削除</a>
    <table border=1>
	<tr>
	<th></th>
	<th>品番</th>
	<th> 受注番号 </th>
	<th> 受注日 </th>
	<th> 納期 </th>
	<th>数量</th>
	<th>コード有無</th>
	<th>セットコード</th>
	<th>オービックコード</th>
	<th>発注:
  <input type="button" value="全部ON！" onclick="allcheck(true);">
   <input type="button" value="全部OFF！" onclick="allcheck(false);">
	</th>
	<th>編集</th>
	<th>削除</th>
    <form name="cart" action="" method="POST">
	</tr>
     {% for item in cart %}
    <tr>
        <td>
		{#  <a class="btn btn-default" href="{% url 'make_seisan' shiji_id=juchu.id %}"><span class="glyphicon glyphicon-pencil"></span></a> #}

        </td>
        <td>{{ item.hinban }}</td>
        <td>{{ item.om }}</td>
        <td>{{ item.juchubi }}</td>
        <td>{{ item.noki }}</td>
        <td>{{ item.qty }}</td>
        <td>{{ item.flag }}</td>
        <td>{{ item.set }}</td>
        <td>{{ item.obic }}</td>
        <td>
	<input type="checkbox" name="order" value="{{ item.pk }}">
	</td>
	<td>
	<a class="btn btn-default" href="{% url 'cart_update' pk=item.id %}"><span class="glyphicon glyphicon-pencil"></span>編集</a> 
        </td>
	<td>
	<a class="btn btn-default" href="{% url 'cart_delete' pk=item.id %}"><span class="glyphicon glyphicon-remove"></span>削除</a> 
        </td>
    </tr>
    {% endfor %}
</table>
{% csrf_token %}
<button type="submit" name="new_order">新規発注</button>
<button type="submit" name="add_order">追加発注</button>
</form>

{% endblock %}
