{% extends 'po/po_base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block page %}
{{ title }}
{% endblock page %}

{% block content %}
    
    <div class="banch">
        <p>品番:
    {{ tfccode.hinban }}
    </p>
    <p>Item:
        {{ tfccode.item }}
    </p>
    <p>詳細:
        {{ tfccode.description }}
    </p>
    <p>備考:
        {{ tfccode.remarks }}
    </p>
    <p>単位:
        {{ tfccode.unit }}
    </p>
    <p>単価:
        {{ tfccode.uprice }}
    </p>
    <p>在庫管理:
        {{ tfccode.zaiko }}
    </p>
    <p>発注管理:
        {{ tfccode.kento }}
    </p>
    <p>分類:
        {{ tfccode.cat }}
    </p>
    </div>

    <a class="btn btn-default" href="{% url 'code_update' pk=tfccode.pk %}"><span class="glyphicon glyphicon-pencil"></span>編集</a>
    <a class="btn btn-default" href="{% url 'code_copy' pk=tfccode.pk %}"><span class="glyphicon glyphicon-pencil"></span>コピー</a>
    <a class="btn btn-default" href="{% url 'cart_append' pk=tfccode.pk %}"><span class="glyphicon glyphicon-pencil"></span>カートに追加</a>
    <a class="btn btn-default" href="{% url 'code_create' %}"><span class="glyphicon glyphicon-pencil"></span>新規</a>
    <a class="btn btn-danger" href="{% url 'code_delete' pk=tfccode.pk %}"><span class="glyphicon glyphicon-remove">削除</span></a>

{% endblock %}

