{% extends 'loc/loc_base.html' %}

{% block content %}
    <div class="loc">

    
    <div class="banch">
        <p>品番:
    {{ tfccode.hinban }}
    </p>
    <p>Item:
        {{ tfccode.item }}
    </p>
    <p>詳細:
        {{ tfccode.description }}
    </p>
    <p>備考:
        {{ tfccode.remarks }}
    </p>
    <p>単位:
        {{ tfccode.unit }}
    </p>
    <p>単価:
        {{ tfccode.uprice }}
    </p>
    <p>在庫管理:
        {{ tfccode.zaiko }}
    </p>
    <p>発注管理:
        {{ tfccode.kento }}
    </p>
    <p>分類:
        {{ tfccode.cat }}
    </p>
    </div>

    <a class="btn btn-default" href="{% url 'code_update' pk=tfccode.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>

{% endblock %}
