{% load static %}
{% load bootstrap4 %} 
{% bootstrap_css %} 
{% bootstrap_javascript jquery='full' %} 
<!--
  {% load static %}
-->

<html>
    <head>
{% block extrahead %}
{% endblock %}
    <link rel="stylesheet" href="{% static 'css/loc.css' %}"> 
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">  
        <title>{% block title %} {% endblock title %}</title>
    </head>
    <body>

 <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 1rem;">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" href="/tfc_code">TFCコード</a></li>
      <li class="nav-item"><a class="nav-link" href="/po/inv_list">INVリスト</a></li>
      <li class="nav-item"><a class="nav-link" href="/po_list">POリスト</a></li>
      <li class="nav-item"><a class="nav-link" href="/juchu_list">受注データ</a></li>
      <li class="nav-item"><a class="nav-link" href="/cart_list">カート</a></li>
      <li class="nav-item"><a class="nav-link" href="/kento_list">在庫表作成</a></li>
      <li class="nav-item"><a class="nav-link" href="/condition_list">輸入条件選択</a></li>

      <li class="nav-item"><a class="nav-link" href="/">[カバー番地]</a></li>

      </ul>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

	    
<div class="page-header">
	       	 
		    <H1>{% block page %} {% endblock page %}</H1>
	    </div>
	    <div class="content container">
	    
            {% block content %}
            {% endblock %}

	

			</div>	
	    
    </body>
</html>
