
{% extends 'po/po_base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block page %}
{{ title }}
{% endblock page %}

{% block content %}


<form method="get" action="">
	コメント:<input name="query" value="{{ request.GET.query }}" type="text">
	ソート順:<input type="radio" name="po_sort" value="pon" checked> PO No.
	<input type="radio" name="po_sort" value="etd"> ETD
        <button type="submit">検索する</button>

</form>

    <table border=1>
	<tr>
	<th> PO番号 </th>
	<th>発注日</th>
	<th> 輸送手段 </th>
	<th> 仕向港 </th>
	<th>コメント</th>
	<th>ETD</th>
	<th>取込日</th>
	<th>40f</th>
	<th>20ft</th>
	<th>条件</th>
	<th>追加</th>
	</tr>
     {% for po in pos %}
	<tr>

        <td><a href="{% url 'poline_list' po_pk=po.pk %}"> {{ po.pon }}</a></td>
        <td>{{ po.pod |date:"y/m/d" }}</td>
        <td>{{ po.per }}</td>
        <td>{{ po.port }}</td>
        <td>{{ po.comment }}</td>
        <td>{{ po.etd |date:"y/m/d" }}</td>
        <td>{{ po.delivery |date:"y/m/d" }}</td>
        <td>{{ po.ft40 }}</td>
        <td>{{ po.ft20 }}</td>
        <td>{{ po.condition.name }}</td>
	<td>
	{% if add_order_exist  %}
<a class="btn btn-default" href="{% url 'add_order' po.pk  %} " >追加</a>
<a class="btn btn-default" href="{% url 'update_order' po.pk  %} " >更新</a>
    {% endif %}
	</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
