
{% extends 'po/po_base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block page %}
{{ title }}
{% endblock page %}

{% block content %}

    <table border=1>
	<tr>
	<th> PO番号 </th>
	<th> 品番 </th>
	<th>備考</th>
	<th> 数量 </th>
	<th> 受注番号 </th>
	<th>残数</th>
	</tr>
     {% for pl in polines %}
	<tr>

        <td>{{ pl.po.pon }}</td>
        <td>{{ pl.code.hinban }}</td>
        <td>{{ pl.remark }}</td>
        <td>{{ pl.qty }}</td>
        <td>{{ pl.om }}</td>
        <td>{{ pl.balance }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
