{% extends 'loc/po_base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block page %}
{{ title }}
{% endblock page %}

{% block content %}
    <form action="" method="get">
	    品番: <input name="qh" value="{{ request.GET.qh }}" type="text">
	    アイテム: <input name="qi" value="{{ request.GET.qi }}" type="text">
	    hcode: <input name="qc" value="{{ request.GET.qc }}" type="text">
	    cat: <input name="qt" value="{{ request.GET.qt }}" type="text">
	    <input type="checkbox" name="z" value="1" id="id_tags_0">Z
	    <input type="checkbox" name="h" value="1" id="id_tags_0">H
	    
        <button type="submit">検索する</button>
    </form>
    {% include 'loc/pagination.html'%}


	<table border=1>
		<tr>
		<th> 品番 </th>
		<th> アイテム</th>
		<th> 詳細 </th>
		<th> 備考 </th>
		<th> 単位 </th>
		<th> 単価 </th>
		<th> vol </th>
		<th>Z </th>
		<th>H </th>
		<th>hcode</th>
		<th>cat</th>
		</tr>

	{% for cd in codes %}
	<tr>
	<td class="code">
	{{ cd.hinban }}
	</td>
	<td class="code">
	{{ cd.item }}
	</td>
	<td class="code">
	{{ cd.description }}
	</td>
	<td class="code">
	{{ cd.remarks }}
	</td>
	<td class="code">
	{{ cd.unit }}
	</td>
	<td class="code">
	{{ cd.uprice }}
	</td>
	<td class="code">
	{{ cd.vol }}
	</td>
	<td class="code">
	{{ cd.zaiko }}
	</td>
	<td class="code">
	{{ cd.kento }}
	</td>
	<td class="code">
	{{ cd.hcode }}
	</td>
	<td class="code">
	{{ cd.cat }}
	</td>
	</tr>
	{% endfor %}
	</table>


{% endblock %}

